@keyframes slide {
    0% {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
    80% {
      transform: translateX(100%);
      opacity: 0;
      visibility: hidden;
    }
    100% {
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
      padding: 0;
      margin: 0;
    }
  }
  
  .slide-right {
    animation: slide 1s forwards;
    overflow: hidden;
  }
  