.animate-me {
  height: 100px;
  width: 100px;
  background: #ff5a5f;
  border-radius: 5px;
  display: block;
  position: relative;
  animation: slide-right 0.5s 1;
  animation-fill-mode: forwards;
}

/* Slide-Right Keyframe */
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
