.profile-picture {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.avatar {
  width: 180px;
  height: 180px;
  background-size: 140%;
  border-radius: 50%;
  border: 2px solid white;
}

.team-item {
  border: 1px solid #fc9600;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-item__logo {
  width: 50px;
}

.team-item__info {
  margin-left: 10px;
  width: 100%;
  position: relative;
}

.team-item__info .logo-owner {
position: absolute;
right: 0;
top: -5px;
}

.team-item__info .show-info {
  position: absolute;
  width: 240px;
  top: 100%;
  left: 0;
  padding: 5px;
  background-color: aliceblue;
  display: none;
}

.team-item__info .team-item__name {
  font-weight: 600;
  margin-bottom: 0.2em;
}

.team-item__description span {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1em;
  position: relative;
  cursor: pointer;
}

.team-item__description span:hover > .show-info {
  display: block;
}

.team-item__description span img {
  margin-right: 0.2em;
}

.team-item__description span ul {
  margin: 0;
  padding: 0;
  list-style: disc;
  margin-left: 1rem;
}
