.profile-picture {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.avatar {
  width: 180px;
  height: 180px;
  background-size: 140%;
  border-radius: 50%;
  border: 2px solid white;
}
