.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a,
ul {
  margin: 0;
  padding: 0;
}

.hide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.description-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px; /* set a maximum width to prevent cell from expanding */
}

.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.btn-green:hover {
  background-color: rgb(128 186 61) !important;
}

button.btn-orange {
  text-align: center;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(36, 20, 0, 1) 0%,
    rgba(255, 98, 0, 0.7792366946778712) 0%,
    rgba(238, 147, 24, 0.9641106442577031) 63%
  );
  color: #fff;
}

.breadcrumb-item + .breadcrumb-item:before {
  content: ">" !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Path: src\index.css */
.sectionFirst {
  background: url("/src/assets/images/peakpx.jpg");
  background-position: center;
  min-height: 28rem;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sectionFirst .overlay {
  background-color: rgb(0 0 0 / 48%);
  min-height: 28rem;
}

.cardPlayground {
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

input[type="range"] {
  outline: none;
  width: 100%;
  background: transparent;
}

.text-green {
  color: #85c240;
}

/* Path: src\components\Header.css */
.fa-star:before {
  content: "\f005";
}

.stars {
  color: #f0803c;
}

.cardList .card-img-top {
  height: 180px;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

/* Path: Home */

.clickable {
  cursor: pointer;
}

.clickable:hover .imgMedia {
  filter: brightness(0.8);
  transition: all 0.3s ease-in-out;
}

.sport-list .clickable:hover h6 {
  color: #5abd3a;
}

.imgMedia {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.bgImage {
  background: url(https://malaebapp.com/images/bg.png);
  object-fit: cover;
  width: 112px;
  height: 112px;
  position: relative;
  margin: auto;
}

.imageFixedHeight {
  align-self: center;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.cardPlayground:hover img {
  animation: bounce 0.5s ease-in-out;
}

.cardPlayground {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}

.cardPlayground:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cardPlayground img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.cardPlayground h5 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.cardPlayground p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #6c757d;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.search-now:hover {
  background-color: #388e3c;
  transform: translateY(-3px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.search-now {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  animation: bounce 1s infinite alternate;
}

.search-now > a {
  color: #fff !important;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* Path: src\components\SignIn.css */
.mt-7 {
  margin-top: 8rem !important;
}

.mt-6 {
  margin-top: 5rem !important;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.auth .btn {
  display: inline-block;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.525rem 0.75rem;
  font-size: 0.8rem;
  line-height: 1.6;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login .btn-block {
  display: block;
  width: 100%;
}

.login .btn-secondary {
  color: #fff;
  background-color: #3d348b;
  border-color: #3d348b;
}

.login .btn-green,
.user-page-content .btn-green {
  background-color: #85c240;
  border-color: #85c240;
  color: #fff;
}

.login .btn-green:hover,
.user-page-content .btn-green:hover {
  background-color: #619a2e;
  border-color: #619a2e;
  color: #fff;
}

.auth .btn-social {
  position: relative;
  padding-left: 3rem;
}

.auth .btn {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
}

.login .btn-outline-red {
  color: #cf4332 !important;
  border-color: #cf4332;
}

.login .btn-outline-primary {
  color: #3d348b !important;
  border-color: #3d348b;
}

.login .btn-outline-primary:hover {
  color: #fff !important;
  background-color: #3d348b;
  border-color: #3d348b;
}

.login .btn-outline-red:hover {
  color: #fff !important;
  border-color: #fff;
  background-color: #cf4332;
}

.login .btn-block + .btn-block {
  margin-top: 0.5rem;
}

.login .row > div:nth-of-type(2) {
  position: relative;
}

.login .btn-social-icon {
  position: absolute;
  left: 1rem;
  width: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.login h1,
.login h3 {
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
}

.login-form__footer {
  text-align: center;
  font-size: 12.5px;
  color: gray;
  margin-top: 1rem;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.6rem;
  padding-left: 1.5rem;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.custom-control-label::before {
  position: absolute;
  top: 0.3rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0.4rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #4e66f8;
  background-color: #4e66f8;
}

.custom-control-label::after {
  position: absolute;
  top: 0.3rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50% / 50% 50%;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url(data:image/svg+xml,%3csvg xmlns=http://www.w3.org/2000/svg viewBox=0 0 8 8%3e%3cpath fill=%23fff d=M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z/%3e%3c/svg%3e);
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(0.5);
}

img.bg-image {
  font-family: "object-fit: cover;";
  -o-object-fit: cover;
  object-fit: cover;
}

.float-right {
  float: right !important;
}

/* Path: src\components\List.css */

/* custom-datepicker.css */
.react-datepicker__day--selected {
  background-color: #4caf50 !important; /* Change this to your desired color */
  border-radius: 50% !important;
}

.cardList .book-now {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  padding: 6px 12px;
  transition: background-color 0.3s ease;
}

.cardList .book-now:hover {
  background-color: #388e3c;
}

/* Path: src\components\Findgame.css */
.findteam .yourteam .card {
  text-align: center;
  width: 48%;
  border-radius: 30px;
}

/*Path: src\components\Detail.css */
.facilities {
  border: 1px solid #c2c9d1;
  border-radius: 8px;
  padding: 0.5rem;
  min-width: 140px;
  transition: all linear 0.2s;
}

.facilities:hover {
  background-color: #97cb5d !important;
  color: white !important;
  cursor: pointer;
}

.imgCircle {
  height: 48px;
  width: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.time-picker input {
  padding: 15px 20px 15px 10px;
  font-size: 15px;
}

.time-picker:nth-of-type(2) {
  margin-left: 10px;
}

.showError .close {
  position: absolute;
  right: 0;
  top: 0;
}

.showError .close svg {
  fill: #842029;
  width: 1rem;
  height: 1rem;
}

/* Path: src\components\Info.css */

ul.dropdown-menu > li {
  text-align: center;
}

.dropdown-header {
  padding: 0.7rem 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #adb5bd;
  white-space: nowrap;
}

.user-brief .user-brief_avatar .sporta-avatar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

.user-brief .user-brief_avatar .sporta-avatar {
  display: inline-block;
  position: relative;
  border: 0.0625rem solid rgba(0, 0, 0, 0.09);
}

.user-brief .user-brief_avatar {
  display: flex;
}

.user-brief {
  display: flex;
}

div._border {
  border-bottom: 1px solid #efefef;
  content: "";
  left: 0;
  right: 0;
  top: 100%;
  margin: 10px auto;
  width: 50%;
}

.menu-items > li > svg {
  color: #93a3b5;
}

.menu-items > li > a {
  text-decoration: none;
  margin-left: 5px;
  color: #93a3b5;
}

.menu-items > .menu-item:hover > a,
.menu-items > .menu-item.active > a {
  color: #28a745 !important;
}

@media (min-width: 768px) {
  .user-sidebar .dropdown-menu {
    border-width: 0px;
    box-shadow: none;
    display: block;
    position: relative;
    width: 100%;
  }

  .minimum-heigh {
    min-height: 400px;
  }
}

