@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Preserve default styles for all HTML tags */
  img {
    @apply inline;
  }

  input {
    @apply border inline rounded-md py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
  }

  input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background: none;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

.ml-auto {
  margin-left: auto;
}

.bg-gray-200 {
  background-color: #edf2f7 !important;
}

.animate-me {
  height: 100px;
  width: 100px;
  background: #ff5a5f;
  border-radius: 5px;
  display: block;
  position: relative;
  animation: slide-right 0.5s 1;
  animation-fill-mode: forwards;
}

/* Slide-Right Keyframe */
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
